<p><%= @hello %><%= @greeting_name ? " #{@greeting_name}," : ","%></p>

<p><%= @body %></p>

<p><%= link_to @confirmation_path, @confirmation_path, target: "_blank" %></p>

<p><%= @questions %><%= mail_to @sender, @sender, subject: @reply_subject %></p>
