<%= image_tag attachments['pielogo.png'].url, width: '150', align: "middle" %>

<p><%= t('hello') %><%= " #{@greeting_name},"%></p>

<p><%= t('mailers.reset_password_instructions.body') %></p>

<p><%= link_to t('mailers.reset_password_instructions.update_password'), @password_update_path, target: "_blank"  %></p>

<p><%= t('mailers.reset_password_instructions.note') %></p>
